.bar {
	display: flex;
	justify-content: right;

	.content {
		display: flex;
		gap: 8px;
		text-transform: capitalize;
		cursor: pointer;

		.title {
			font-size: 12px;
		}
	}
}

.right {
	position: relative;

	.header {
		display: flex;
		align-items: center;
		> h1 {
			font-size: 12px;
			color: #ccc;
		}

		> svg {
			color: #ccc;
		}
	}

	.list {
		width: 200px;
		z-index: 99;
		position: absolute;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		background: #f1f1f1;
		visibility: hidden;
		top: 110%;
		right: 0;
		opacity: 0;
		transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		.list__item {
			padding: 0 10px;
			color: #444444;
			font-weight: 700;
			transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

			&.active {
				background: #bababa;
				color: #fff;
			}

			&:hover {
				background: #ccc;
				color: #fff;
			}
		}

		&.active {
			visibility: visible;
			opacity: 1;

			.list__item {
				padding: 10px;
			}
		}
	}
}
